.p {
  width: 30%;
  height: 55vh;
  margin: 20px 10px;
  /* border: 2px solid rgb(243, 242, 242); */
  border-radius: 10px 10px 0px 0px;
  overflow: hidden;
}
.n{
  font-size: 20px;
  font-weight: bold;
}

.p-browser {
  height: 20px;
  background-color: rgb(243, 242, 242);
  display: flex;
  align-items: center;
  position: sticky;
  z-index: 2;
}

.p-circle {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  margin: 5px;
  background-color: rgb(35, 181, 214);
}

.p-img {
  height: 70%;
  width: 100%;
  border-radius: 0px 0px 10px 10px;
  justify-items: center;

}

@media screen and (max-width: 480px) {
  .p {
    width: 40%;
    height: 20vh;
  }
}
