.nav{
    position: relative;
    bottom: -40px;
    left:50px;
    font-size: 30px;
    display: flex;
    font-size: 30px;
    font-weight: bold;
    
  }
  .nav ul{
    border-radius: 20px;
    justify-items: center;
    align-items: center;
    justify-content: center;
    margin: 10px;
    text-align: center;
    color: rgb(35, 181, 214);
    
  }